div{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    margin: 10px;
}

.title{
    font-family: jacquard24-regular;
    font-size: 80px;
    text-shadow: -6px 2px 0 #000;
    color:rgb(198, 205, 0);
    background-color:#470000;
    height: 100px;
    text-align: center;
}

#kangs {
    font-family: jacquard24-regular;
    font-weight: 600;
}