
.menu-item{
    display: inline-block;
    margin: 0 0;
    text-align: center;
    background-color: #00197d;
    padding: 1em;
}
.dropdown {
    display: inline-block;
    margin: 0 0;
    min-width: 8em;
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 1em;
}
.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em;
    min-width: 5em;
}

body{
    font-family: 'Times New Roman', Times, serif
}

.P1{
    margin: 0 0;
    text-align: center;
    padding-left: 1;
}


header{
    position: fixed;
    background-color: rgb(0, 191, 216);
    font-family: 'times';
    font-style: medium;
    color: rgb(0, 0, 0);
    text-align: left;
    margin: 0;
    height: 2em;
    width: 100%;
}